<div class="property-box" id="cluster-monitoring-properties">
    <h3>Cluster Monitoring</h3>
    <br>
    <p><b>Cluster:</b> <span id="cluster-monitor-name"></span></p>
    <p><b>Nodes:</b> <span id="cluster-monitor-nodes"></span></p>
    <p><b>Data-Nodes:</b> <span id="cluster-monitor-data-nodes"></span></p>
    <p><b>Active Shards:</b> <span id="cluster-monitor-shards"></span></p>
    <p><b>Primary Shards:</b> <span id="cluster-monitor-primary"></span></p>
    <p><b>Pending Tasks:</b> <span id="cluster-monitor-pending"></span></p>
    <p><b>Unassigned Shards:</b> <span id="cluster-monitor-unassigned"></span></p>
    <br>
    <hr>
    <br>
    <p><b>Disk Status:</b> <span id="cluster-monitor-disk-status"></span></p>
    <p><b>Total Disk:</b> <span id="cluster-monitor-total"></span></p>
    <p><b>Used Disk:</b> <span id="cluster-monitor-used"></span></p>
    <p><b>Free Disk:</b> <span id="cluster-monitor-free"></span></p>
    <p><b>Disk Usage:</b> <span id="cluster-monitor-usage"></span></p>

</div>
