<div class="property-box" id="cluster-monitoring-properties">

    <h3>Cluster Monitoring</h3>
    <br>

    <div class="properties-table">

        <div class="properties-header">
            <span>Property</span>
            <span>Value</span>
        </div>

        <div class="property-row">
            <span class="property-label">Cluster</span>
            <span class="property-value" id="cluster-monitor-name"></span>
        </div>

        <div class="property-row">
            <span class="property-label">Nodes</span>
            <span class="property-value" id="cluster-monitor-nodes"></span>
        </div>

        <div class="property-row">
            <span class="property-label">Data Nodes</span>
            <span class="property-value" id="cluster-monitor-data-nodes"></span>
        </div>

        <div class="property-row">
            <span class="property-label">Active Shards</span>
            <span class="property-value" id="cluster-monitor-shards"></span>
        </div>

        <div class="property-row">
            <span class="property-label">Primary Shards</span>
            <span class="property-value" id="cluster-monitor-primary"></span>
        </div>

        <div class="property-row">
            <span class="property-label">Pending Tasks</span>
            <span class="property-value" id="cluster-monitor-pending"></span>
        </div>

        <div class="property-row">
            <span class="property-label">Unassigned Shards</span>
            <span class="property-value" id="cluster-monitor-unassigned"></span>
        </div>

    </div>

    <br>

    <div class="properties-table">

        <div class="properties-header">
            <span>Property</span>
            <span>Value</span>
        </div>

        <div class="property-row">
            <span class="property-label">Disk Status</span>
            <span class="property-value" id="cluster-monitor-disk-status"></span>
        </div>

        <div class="property-row">
            <span class="property-label">Total Disk</span>
            <span class="property-value" id="cluster-monitor-total"></span>
        </div>

        <div class="property-row">
            <span class="property-label">Used Disk</span>
            <span class="property-value" id="cluster-monitor-used"></span>
        </div>

        <div class="property-row">
            <span class="property-label">Free Disk</span>
            <span class="property-value" id="cluster-monitor-free"></span>
        </div>

        <div class="property-row">
            <span class="property-label">Disk Usage</span>
            <span class="property-value" id="cluster-monitor-usage"></span>
        </div>

    </div>

</div>
