<div class="property-box" id="cluster-health-history-properties">
    <h2>Cluster Health History</h2>
    <br>
    <p><strong>Cluster:</strong> <span id="history-cluster-name"> </span></p>
    <p><strong>Total Events:</strong> <span id="history-total-events"> </span></p>
    <p><strong>Current Status:</strong> <span id="history-current-status"> </span></p>

    <br>
    <hr>
    <br>

    <h3>Health History</h3>

    <div style="height:400px;"><canvas id="clusterHealthChart"></canvas></div>

    <br>
    <hr>
    <br>

    <h3>Recent Events</h3>
    <br>
    <div id="health-events">
        /*Εδώ εμφανίζω τα Recent Events (2026-06-11 11:15:00 - GREEN)*/
    </div>

</div>
