<div class="property-box" id="cluster-health-properties">

    <h3>Cluster Health</h3>

    <br>

    <p><b>Cluster:</b> <span id="health-cluster-name"></span></p>
    <p><b>Status:</b> <span id="health-cluster-status"></span></p>
    <p><b>Nodes:</b> <span id="health-cluster-nodes"></span></p>
    <p><b>Data Nodes:</b> <span id="health-cluster-data-nodes"></span></p>
    <p><b>Active Shards:</b> <span id="health-cluster-shards"></span></p>
    <p><b>Primary Shards:</b> <span id="health-cluster-primary"></span></p>
    <p><b>Unassigned Shards:</b> <span id="health-cluster-unassigned"></span></p>
    <p><b>Pending Tasks:</b> <span id="health-cluster-pending"></span></p>

</div>