<div class="property-box" id="cluster-health-properties">

    <h3>Cluster Health</h3>

    <br>
    <div class="properties-table">
        <div class="properties-header">
            <span>Property</span>
            <span>Value</span>
        </div>

    
            <div class="property-row">
                <span class="property-label">Cluster</span> 
                    <span class="property-value" id="health-cluster-name"></span>
            </div>

            <div class="property-row">
                <span class="property-label">Status</span>
                    <span class="property-value" id="health-cluster-status"></span>
            </div>

            <div class="property-row">
                <span class="property-label">Nodes</span>
                    <span class="property-value" id="health-cluster-nodes"></span>
            </div>

            <div class="property-row">
                <span class="property-label">Data Nodes</span>
                    <span class="property-value" id="health-cluster-data-nodes"></span>
            </div>

            <div class="property-row">
                <span class="property-label">Active Shards</span>
                    <span class="property-value" id="health-cluster-shards"></span>
            </div>

            <div class="property-row">
                <span class="property-label">Primary Shards</span>
                    <span class="property-value" id="health-cluster-primary"></span>
            </div>

            <div class="property-row">
                <span class="property-label">Unassigned Shards</span>
                    <span class="property-value" id="health-cluster-unassigned"></span>
            </div>

            <div class="property-row">
                <span class="property-label">Pending Tasks</span>
                    <span class="property-value" id="health-cluster-pending"></span>
            </div>

    </div>

</div>