<div class="property-box" id="index-disk-properties">
    <h3>Index Disk Usage</h3>
    <br>
    <p><b>Index:</b> <span id="index-monitor-name"></span></p>
    <p><b>Storage Status:</b> <span id="index-monitor-status"></span></p>
    <p><b>Documents:</b> <span id="index-monitor-docs"></span></p>
    <p><b>Index Store Size:</b> <span id="index-monitor-size"></span></p>
    <p><b>Cluster Total Disk:</b> <span id="index-monitor-cluster-total"></span></p>
    <p><b>Cluster Used Disk:</b> <span id="index-monitor-cluster-used"></span></p>
    <p><b>Cluster Free Disk:</b> <span id="index-monitor-cluster-free"></span></p>
    <p><b>Cluster Usage:</b> <span id="index-monitor-usage"></span></p>

</div>