<div class="property-box" id="index-properties">

    <h3>Index Properties</h3>
    <br>

    <div class="properties-table">

        <div class="properties-header">
            <span>Property</span>
            <span>Value</span>
        </div>

        <div class="property-row">
            <span class="property-label">Name</span>
            <span class="property-value" id="index-name"></span>
        </div>

        <div class="property-row">
            <span class="property-label">Documents</span>
            <span class="property-value" id="index-docs"></span>
        </div>

        <div class="property-row">
            <span class="property-label">Size</span>
            <span class="property-value" id="index-size"></span>
        </div>

        <div class="property-row">
            <span class="property-label">Health</span>
            <span class="property-value" id="index-health"></span>
        </div>

        <div class="property-row">
            <span class="property-label">Status</span>
            <span class="property-value" id="index-status"></span>
        </div>

    </div>

</div>
