<div class="property-box" id="index-disk-properties">

    <h3>Index Disk Usage</h3>
    <br>

    <div class="properties-table">

        <div class="properties-header">
            <span>Property</span>
            <span>Value</span>
        </div>

        <div class="property-row">
            <span class="property-label">Index</span>
            <span class="property-value" id="index-monitor-name"></span>
        </div>

        <div class="property-row">
            <span class="property-label">Storage Status</span>
            <span class="property-value" id="index-monitor-status"></span>
        </div>

        <div class="property-row">
            <span class="property-label">Documents</span>
            <span class="property-value" id="index-monitor-docs"></span>
        </div>

        <div class="property-row">
            <span class="property-label">Index Store Size</span>
            <span class="property-value" id="index-monitor-size"></span>
        </div>

        <div class="property-row">
            <span class="property-label">Cluster Total Disk</span>
            <span class="property-value" id="index-monitor-cluster-total"></span>
        </div>

        <div class="property-row">
            <span class="property-label">Cluster Used Disk</span>
            <span class="property-value" id="index-monitor-cluster-used"></span>
        </div>

        <div class="property-row">
            <span class="property-label">Cluster Free Disk</span>
            <span class="property-value" id="index-monitor-cluster-free"></span>
        </div>

        <div class="property-row">
            <span class="property-label">Cluster Usage</span>
            <span class="property-value" id="index-monitor-usage"></span>
        </div>

    </div>

</div>