<div class="property-box" id="node-properties">

    <h3>Node Properties</h3>
    <br>

    <div class="properties-table">

        <div class="properties-header">
            <span>Property</span>
            <span>Value</span>
        </div>

        <div class="property-row">
            <span class="property-label">Name</span>
            <span class="property-value" id="node-name"></span>
        </div>

        <div class="property-row">
            <span class="property-label">Port</span>
            <span class="property-value" id="node-port"></span>
        </div>

        <div class="property-row">
            <span class="property-label">Host</span>
            <span class="property-value" id="node-host"></span>
        </div>

        <div class="property-row">
            <span class="property-label">IP</span>
            <span class="property-value" id="node-ip"></span>
        </div>

        <div class="property-row">
            <span class="property-label">Version</span>
            <span class="property-value" id="node-version"></span>
        </div>

    </div>

</div>