<div class="property-box" id="node-disk-properties">
    <h3>Node Monitoring</h3>
    <br>
    <p><b>Node:</b> <span id="monitor-node"></span></p>
    <p><b>Primary Shards:</b> <span id="monitor-primary"></span></p>
    <p><b>Replica Shards:</b> <span id="monitor-replica"></span></p>
    <p><b>Total Shards:</b> <span id="monitor-total"></span></p>
    <br>
    <hr>
    <br>
    <p><b>Disk Status:</b> <span id="monitor-status"></span></p>
    <p><b>Total Disk:</b> <span id="monitor-disk-total"></span></p>
    <p><b>Used Disk:</b> <span id="monitor-disk-used"></span></p>
    <p><b>Free Disk:</b> <span id="monitor-disk-free"></span></p>
    <p><b>Usage:</b> <span id="monitor-disk-percent"></span></p>
    


</div>