<div class="property-box" id="node-disk-properties">

    <h3>Node Monitoring</h3>
    <br>

    <div class="properties-table">

        <div class="properties-header">
            <span>Property</span>
            <span>Value</span>
        </div>

        <div class="property-row">
            <span class="property-label">Node</span>
            <span class="property-value" id="monitor-node"></span>
        </div>

        <div class="property-row">
            <span class="property-label">Primary Shards</span>
            <span class="property-value" id="monitor-primary"></span>
        </div>

        <div class="property-row">
            <span class="property-label">Replica Shards</span>
            <span class="property-value" id="monitor-replica"></span>
        </div>

        <div class="property-row">
            <span class="property-label">Total Shards</span>
            <span class="property-value" id="monitor-total"></span>
        </div>

    </div>

    <br>

    <div class="properties-table">

        <div class="properties-header">
            <span>Property</span>
            <span>Value</span>
        </div>

        <div class="property-row">
            <span class="property-label">Disk Status</span>
            <span class="property-value" id="monitor-status"></span>
        </div>

        <div class="property-row">
            <span class="property-label">Total Disk</span>
            <span class="property-value" id="monitor-disk-total"></span>
        </div>

        <div class="property-row">
            <span class="property-label">Used Disk</span>
            <span class="property-value" id="monitor-disk-used"></span>
        </div>

        <div class="property-row">
            <span class="property-label">Free Disk</span>
            <span class="property-value" id="monitor-disk-free"></span>
        </div>

        <div class="property-row">
            <span class="property-label">Usage</span>
            <span class="property-value" id="monitor-disk-percent"></span>
        </div>

    </div>

</div>