<div id="shard-current-status-properties" class="property-box">

    <h2>Shard Monitoring</h2>
    <br>

    <div class="properties-table">

        <div class="properties-header">
            <span>Property</span>
            <span>Value</span>
        </div>

        <div class="property-row">
            <span class="property-label">Started Shards</span>
            <span class="property-value" id="shard-current-started"></span>
        </div>

        <div class="property-row">
            <span class="property-label">Relocating Shards</span>
            <span class="property-value" id="shard-current-relocating"></span>
        </div>

        <div class="property-row">
            <span class="property-label">Initializing Shards</span>
            <span class="property-value" id="shard-current-initializing"></span>
        </div>

        <div class="property-row">
            <span class="property-label">Unassigned Shards</span>
            <span class="property-value" id="shard-current-unassigned"></span>
        </div>

        <div class="property-row">
            <span class="property-label">Current Shard Health</span>
            <span class="property-value" id="shard-health-status"></span>
        </div>

        <div class="property-row">
            <span class="property-label">Allocation Status</span>
            <span class="property-value" id="shard-allocation-status"></span>
        </div>

    </div>

    <br>

    <div class="properties-table">

        <div class="properties-header">
            <span>Property</span>
            <span>Value</span>
        </div>

        <div class="property-row">
            <span class="property-label">Total Shards</span>
            <span class="property-value" id="shard-current-total"></span>
        </div>

        <div class="property-row">
            <span class="property-label">Primary Shards</span>
            <span class="property-value" id="shard-current-primary"></span>
        </div>

        <div class="property-row">
            <span class="property-label">Replica Shards</span>
            <span class="property-value" id="shard-current-replica"></span>
        </div>

        <div class="property-row">
            <span class="property-label">Total Shard Storage</span>
            <span class="property-value" id="shard-current-storage"></span>
        </div>

    </div>

</div>