<div class="property-box" id="shard-properties">
    <h3>Shard Properties</h3>

    <br>   
    <p><b>Index:</b> <span id="shard-index"></span></p>
    <p><b>Shard ID:</b> <span id="shard-id"></span></p>
    <p><b>Type:</b> <span id="shard-type"></span></p>
    <p><b>State:</b> <span id="shard-state"></span></p>
    <p><b>Node:</b> <span id="shard-node"></span></p>
    <p><b>Docs:</b> <span id="shard-docs"></span></p>
    <p><b>Store Size:</b> <span id="shard-store"></span></p>
    <p><b>Dataset Size:</b> <span id="shard-dataset"></span></p>
    <p><b>IP:</b> <span id="shard-ip"></span></p>

</div>