<div class="property-box" id="shard-storage-properties">
    <h3>Shard Storage</h3>
    <br>
    <p><b>Total Shards:</b> <span id="shard-storage-total"></span></p>
    <p><b>Primary Shards:</b> <span id="shard-storage-primary"></span></p>
    <p><b>Replica Shards:</b> <span id="shard-storage-replica"></span></p>
    <p><b>Total Shard Storage:</b> <span id="shard-storage-size"></span></p>
    <br>
    <hr>
    <br>
    <p><b>Cluster Total Disk:</b> <span id="shard-storage-cluster-total"></span></p>
    <p><b>Cluster Used Disk:</b> <span id="shard-storage-cluster-used"></span></p>
    <p><b>Cluster Free Disk:</b> <span id="shard-storage-cluster-free"></span></p>
    <p><b>Storage Usage:</b> <span id="shard-storage-usage"></span></p>
    <p><b>Status:</b> <span id="shard-storage-status"></span></p>

</div>