<div class="property-box" id="shard-properties">

    <h3>Shard Properties</h3>
    <br>

    <div class="properties-table">

        <div class="properties-header">
            <span>Property</span>
            <span>Value</span>
        </div>

        <div class="property-row">
            <span class="property-label">Index</span>
            <span class="property-value" id="shard-index"></span>
        </div>

        <div class="property-row">
            <span class="property-label">Type</span>
            <span class="property-value" id="shard-type"></span>
        </div>

        <div class="property-row">
            <span class="property-label">State</span>
            <span class="property-value" id="shard-state"></span>
        </div>

        <div class="property-row">
            <span class="property-label">Shard ID</span>
            <span class="property-value" id="shard-id"></span>
        </div>

        <div class="property-row">
            <span class="property-label">Node</span>
            <span class="property-value" id="shard-node"></span>
        </div>

        <div class="property-row">
            <span class="property-label">Docs</span>
            <span class="property-value" id="shard-docs"></span>
        </div>

        <div class="property-row">
            <span class="property-label">Store Size</span>
            <span class="property-value" id="shard-store"></span>
        </div>

        <div class="property-row">
            <span class="property-label">Dataset Size</span>
            <span class="property-value" id="shard-dataset"></span>
        </div>

        <div class="property-row">
            <span class="property-label">IP</span>
            <span class="property-value" id="shard-ip"></span>
        </div>

    </div>

</div>