<div id="shard-current-status-properties" class="property-box">
    <h2>Shard Monitoring</h2>
    <br>
    <p><strong>Started Shards:</strong> <span id="shard-current-started"></span></p>
    <p><strong>Relocating Shards:</strong> <span id="shard-current-relocating"></span></p>
    <p><strong>Initializing Shards:</strong> <span id="shard-current-initializing"></span></p>
    <p><strong>Unassigned Shards:</strong> <span id="shard-current-unassigned"></span></p>
    <p><strong>Current Shard Health:</strong> <span id="shard-health-status"></span></p> 
    <p><strong>Allocation Status:</strong> <span id="shard-allocation-status"></span></p>

    <br>
    <hr>
    <br>

    <p><strong>Total Shards:</strong> <span id="shard-current-total"></span></p>
    <p><strong>Primary Shards:</strong> <span id="shard-current-primary"></span></p>
    <p><strong>Replica Shards:</strong> <span id="shard-current-replica"></span></p>
    <p><strong>Total Shard Storage:</strong> <span id="shard-current-storage"></span></p>

</div>