<div class="property-box" id="user-properties">

    <h3>User Properties</h3>
    <br>

    <div class="properties-table">

        <div class="properties-header">
            <span>Property</span>
            <span>Value</span>
        </div>

        <div class="property-row">
            <span class="property-label">Username</span>
            <span class="property-value" id="user-username"></span>
        </div>

        <div class="property-row">
            <span class="property-label">Full Name</span>
            <span class="property-value" id="user-fullname"></span>
        </div>

        <div class="property-row">
            <span class="property-label">Email</span>
            <span class="property-value" id="user-email"></span>
        </div>

        <div class="property-row">
            <span class="property-label">Roles</span>
            <span class="property-value" id="user-role"></span>
        </div>

        <div class="property-row">
            <span class="property-label">Status</span>
            <span class="property-value" id="user-enabled"></span>
        </div>

    </div>

</div>