
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI, Arial, sans-serif;
}

body{
    background:#1e1e1e;
    color:#ffffff;
    height:100vh;
    overflow:hidden;
}

.container{
    display:flex;
    height:100vh;
}

/* LEFT PANEL */

.tree-panel{
    width:25%;
    background:#252526;
    border-right:1px solid #3c3c3c;
    padding:15px;

    position:relative;
}
.tree-content{
    height:calc(100vh - 80px);
    overflow:auto;
    padding-bottom:30px;
}

.tree-title{
    font-size:18px;
    font-weight:bold;
    margin-bottom:15px;
    color:#4fc3f7;
}

/* RIGHT PANEL */

.details-panel{
    width:75%;
    background:#1e1e1e;
    overflow:auto;
    padding:25px;

}

/* Right Panel Scrollbar */

.details-panel::-webkit-scrollbar {
    width: 12px;
}

.details-panel::-webkit-scrollbar-track {
    background: #1e1e1e;
}

.details-panel::-webkit-scrollbar-thumb {
    background: #6b6b6b;
    border-radius: 10px;
}

.details-panel::-webkit-scrollbar-thumb:hover {
    background: #909090;
}

.details-title{
    font-size:24px;
    margin-bottom:20px;
    color:#4fc3f7;
}

.property-box{
    background:#2d2d2d;
    border:1px solid #404040;
    border-radius:5px;
    padding:15px;
}

/* TREE */

ul.tree,
ul.tree ul{
    list-style:none;
    padding-left:6px;
    margin-left:6px;
}

ul.tree li{
    cursor:pointer;
    padding:4px 0;
}
/*Φακελοι χρωμα και hovers        */
.folder-label{
    color:#ffd54f;
    display:inline-block;
    padding:2px 6px;
    border-radius:4px;
}
.folder-label:hover{
    color:#4fc3f7;
    background:#333;
}
/*---------------------------------*/

/*Hovers για τα items των φακέλων*/
.item-label{
    display:inline-block;
    padding:2px 6px;
    border-radius:4px;
}
.item-label:hover{
    color:#4fc3f7;
    background:#333;
}
/*--------------------------------*/

.child{
    display:none;
}

.child.open{
    display:block;
}

.child > li{
    margin-left:25px;
}

.arrow{
    display:inline-block;
    font-size:11px;
    width:9px;
    color:#4fc3f7;
    margin-right:1px;  
}
.property-box p{
    margin-bottom:8px;
}
#node-properties{ /*για να μην εμφανίζεται αρχικά το property-box για τον εκάστοτε Node*/
    display:none;
}
#user-properties{ /*για να μην εμφανίζεται αρχικά το property-box για τον εκάστοτε User*/
    display:none;
}
#cluster-properties{ /*για να μην εμφανίζεται αρχικά το property-box για τον εκάστοτε Cluster*/
    display:none;
}
#clusters-panel{ /*για να μην εμφανίζεται αρχικά το property-box για τον εκάστοτε Cluster πριν κάνει connect*/
    display:none;
}
#cluster-health-properties{ /*για να μην εμφανίζεται αρχικά το property-box για τα εκάστοτε χαρακτηριστικα του Cluster*/
    display:none;
}
#index-properties{
    display:none;
}
#shard-properties{
    display:none;
}
#node-disk-properties{
    display:none;
}
#cluster-monitoring-properties{
    display:none;
}
#index-disk-properties{
    display: none;
}
#shard-allocation-properties{
    display: none;
}
#shard-storage-properties{
    display: none;
}
#snapshot-properties{
    display:none;
}
#cluster-health-history-properties{
    display:none;
}
#cluster-storage-history-properties{
    display:none;
}
#node-history-properties{
    display: none;
}
#index-history-properties{
    display: none;
}
#shard-history-properties{
    display: none;
}
#shard-current-status-properties{
    display: none;
}
#add-cluster-properties{
    display: none;
}
.node-label{
    display:inline-block;
    padding:2px 6px;
    border-radius:4px;
}
.node-label:hover{
    color:#4fc3f7;
    background:#333;
}

#connect-btn{
    transform:scale(0.98);
    transition:all 0.15s ease;
    background:#00bfb3;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:6px;
    cursor:pointer;
    font-weight:bold;
}

#connect-btn:hover{
    background:#009688;
}

.disconnect-btn{
    position:absolute;
    left:10px;
    bottom:15px;
    width:100px;
    padding:5px 8px;
    text-align:center;
    background:#2d2d2d;
    border-radius:6px;
    color:#ff6b6b;
    text-decoration:none;
    font-size:13px;
    font-weight:bold;
}

.disconnect-btn:hover{
    background:#3a3a3a;
    border-color:#ff6b6b;
}

/* Chrome, Edge, Brave Στυλ για το scrollbar*/
/*Κατακόρυφο Scrollbar*/
.tree-content::-webkit-scrollbar{
    width:10px;
}

.tree-content::-webkit-scrollbar-track{
    background:#252526;
}

/*Οριζόντιο Scrollbar*/
.tree-content::-webkit-scrollbar-thumb{
    background:#555;
    border-radius:10px;
}

.tree-content::-webkit-scrollbar-thumb:hover{
    background:#777;
}

.history-events-box{
    max-height:220px;
    overflow-y:auto;
    border:1px solid #444;
    padding:10px;   
    background: #252526;
    border-radius: 8px;
}
/*Scroll Bar για το Health Events*/
.history-events-box::-webkit-scrollbar {
    width: 10px;
}

.history-events-box::-webkit-scrollbar-track {
    background: #1e1e1e;
}

.history-events-box::-webkit-scrollbar-thumb {
    background: #3a3a3a;
    border-radius: 10px;
}

.history-events-box::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*Style for the Filters in Cluster Health History Dashboard*/
.history-filter-container{
    display:flex;
    align-items:center;
    gap:10px;
    margin-bottom:15px;
}
.history-filter{
    background:#252526;
    color:white;
    border:1px solid #444;
    border-radius:6px;
    padding:8px 12px;
    cursor:pointer;
    font-size:14px;
}
.history-filter:hover{
    border-color:#777;
}

/*------------------------------------------*/
/*Στοιχιση των recent events των Indicies το ένα κάτω από το άλλο*/
.index-event-row{
    display:grid;

    grid-template-columns:
        220px
        130px
        130px
        240px;

    gap:12px;
    margin-bottom:4px;
    margin-top: 4px;
    
    align-items:center;
}

/*μετακινεί μόνο το πρώτο row κάτω από το header.*/
.index-event-row:first-child{
    margin-top:16px;
}

.index-event-date{
    color:white;
}

.index-event-docs{
    color:#4fc3f7;
    font-weight:bold;
}

.index-event-size{
    color:#c586c0;
    font-weight:bold;
}

.index-event-status{
    font-weight:bold;
    white-space:nowrap;
    padding-left:8px;
}

/*Placeholder για την τιμή 0,να βάζει μπροστά από το μηδέν ενα space γιατί δεν έχει πρόσημο έτσι ώστε να στοιχίζεται σωστά  με τις υπόλοιπες τιμές*/
/*+300 Docs
   0 Docs*/
.index-event-sign-placeholder{
    display:inline-block;
    width:8px;
}
/* Επικεφαλίδες των στηλών στο Recent Events των Indicies */
#index-event-header{
    display:grid;

    grid-template-columns:
        220px
        130px
        130px
        240px;

    gap:12px;
    font-weight:bold;
    color:#c5c5c5;
    margin-bottom:5px;
    padding-top:4px;
    padding-bottom:8px;
    border-bottom:1px solid #444;
    position:sticky;
    top:0;
    background:#252526;
    z-index:100;
    box-shadow:0 0 0 10px #252526, /*δημιουργεί μια "μάσκα" με το ίδιο χρώμα φόντου και θα κρύβει τελείως το πρώτο row,καλύπτει πλήρως ό,τι περνά από κάτω,δεν φαίνονται τα δεδομένα πίσω από το header*/
                0 1px 0 #444;
}
/*---------------------------------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------------------------------------------*/
/*Επικεφαλίδες για τα Recent Events των Nodes - Στοιχιση το ενα κατω από το άλλο */
/* Recent Events Header for Node History */
#node-event-header{
    display:grid;

    grid-template-columns:
        220px
        130px
        240px;

    gap:12px;

    font-weight:bold;
    color:#c5c5c5;
    margin-bottom:5px;
    padding-top:4px;
    padding-bottom:8px;
    border-bottom:1px solid #444;
    position:sticky;
    top:0;
    background:#252526;
    z-index:100;
    box-shadow:0 0 0 20px #252526, /*δημιουργεί μια "μάσκα" με το ίδιο χρώμα φόντου και θα κρύβει τελείως το πρώτο row,καλύπτει πλήρως ό,τι περνά από κάτω,δεν φαίνονται τα δεδομένα πίσω από το header*/
                0 1px 0 #444;
}

#node-events{
    padding-top:8px;
}

.node-event-row{
    display:grid;
    grid-template-columns:
        220px
        130px
        240px;

    gap:12px;
    margin-bottom:4px;
    align-items:center;
}

.node-event-row:first-child{
    margin-top:16px;
}

.node-event-date{
    color:white;
}

.node-event-usage{
    color:#4fc3f7;
    font-weight:bold;
}

.node-event-status{
    font-weight:bold;
    white-space:nowrap;
    padding-left:8px;
}

.node-event-sign-placeholder{
    display:inline-block;
    width:8px;
}
/*---------------------------------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------------------------------------------*/
/*Επικεφαλίδες για τα Recent Events των Clusters - Στοιχιση το ενα κατω από το άλλο */
/* Recent Events Header for Clusters History */
/* Recent Storage Events Header */
#storage-event-header{
    display:grid;

    grid-template-columns:
        220px
        130px
        240px;

    gap:12px;
    font-weight:bold;
    color:#c5c5c5;
    margin-bottom:5px;
    padding-top:4px;
    padding-bottom:8px;
    border-bottom:1px solid #444;
    position:sticky;
    top:0;
    background:#252526;
    z-index:100;
    box-shadow:0 0 0 20px #252526, /*δημιουργεί μια "μάσκα" με το ίδιο χρώμα φόντου και θα κρύβει τελείως το πρώτο row,καλύπτει πλήρως ό,τι περνά από κάτω,δεν φαίνονται τα δεδομένα πίσω από το header*/
                0 1px 0 #444;
}

/* Storage event rows */
.storage-event-row{
    display:grid;

    grid-template-columns:
        220px
        130px
        240px;

    gap:12px;
    margin-bottom:4px;
    align-items:center;
}

.storage-event-row:first-child{
    margin-top:16px;
}

.storage-event-usage{
    color:#4fc3f7;
    font-weight:bold;
}

.storage-event-status{
    font-weight:bold;
    white-space:nowrap;
    padding-left:8px;
}

.storage-event-sign-placeholder{
    display:inline-block;
    width:8px;
}
/*---------------------------------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------------------------------------------*/
/*Επικεφαλίδες για τα Recent Events των Clusters - Στοιχιση το ενα κατω από το άλλο */
/* Recent Events Header for Clusters Health History */
/* Recent Health Events Header */
#health-event-header{
    display:grid;

    grid-template-columns:
        220px
        120px
        240px;

    gap:12px;

    font-weight:bold;
    color:#c5c5c5;

    margin-bottom:5px;

    padding-top:4px;
    padding-bottom:8px;

    border-bottom:1px solid #444;

    position:sticky;
    top:0;

    background:#252526;
    z-index:100;
    box-shadow:0 0 0 20px #252526, /*δημιουργεί μια "μάσκα" με το ίδιο χρώμα φόντου και θα κρύβει τελείως το πρώτο row,καλύπτει πλήρως ό,τι περνά από κάτω,δεν φαίνονται τα δεδομένα πίσω από το header*/
                0 1px 0 #444;
}

.health-event-row{
    display:grid;

    grid-template-columns:
        220px
        120px
        240px;

    gap:12px;

    margin-bottom:4px;

    align-items:center;
}

.health-event-row:first-child{
    margin-top:16px;
}

.health-event-date{
    color:white;
}

.health-event-status{
    font-weight:bold;
}

.health-event-label{
    font-weight:bold;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------------------------------------------*/
/*Επικεφαλίδες για τα Recent Events των Shards - Στοιχιση το ενα κατω από το άλλο */
/* Recent Events Header for Shards History */
/* Recent Shards Events Header */

#shard-event-header{
    display:grid;

    grid-template-columns:
        220px
        180px
        240px;

    gap:12px;

    font-weight:bold;
    color:#c5c5c5;

    padding-top:4px;
    padding-bottom:8px;

    border-bottom:1px solid #444;

    position:sticky;
    top:0;

    background:#252526;

    z-index:100;
    box-shadow:0 0 0 20px #252526, /*δημιουργεί μια "μάσκα" με το ίδιο χρώμα φόντου και θα κρύβει τελείως το πρώτο row,καλύπτει πλήρως ό,τι περνά από κάτω,δεν φαίνονται τα δεδομένα πίσω από το header*/
                0 1px 0 #444;
}

#shard-events{
    padding-top:8px;
}

.shard-event-row{
    display:grid;

    grid-template-columns:
        220px
        180px
        240px;

    gap:12px;

    margin-bottom:4px;

    align-items:center;
}

.shard-event-row:first-child{
    margin-top:16px;
}

.shard-event-change{
    color:#4fc3f7;
    font-weight:bold;
}

.shard-event-status{
    font-weight:bold;
    white-space:nowrap;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------------*/
/*Style for Refresh Button*/
#refresh-dashboard-btn,#refresh-clusters-btn{
    position:absolute;
    top:18px;
    right:35px;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#e1c873;
    cursor:pointer;
    user-select:none;
}

.refresh-tooltip{
    position:absolute;
    top:32px;
    right:0;
    background:#252526;
    color:white;
    border:1px solid #444;
    border-radius:6px;
    padding:6px 10px;
    font-size:12px;
    white-space:nowrap;
    display:none;
    z-index:2000;
}

#refresh-dashboard-btn:hover .refresh-tooltip,
#refresh-clusters-btn:hover .refresh-tooltip,
.cluster-delete-icon:hover .refresh-tooltip,
.cluster-edit-icon:hover .refresh-tooltip{
    opacity:0.9;
    display:block;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Table Style for properties*/
.properties-table{

    background:#252526;

    border:1px solid #444;

    border-radius:8px;
    
    padding:12px;
}

.properties-header{

    display:grid;

    grid-template-columns:
        260px
        370px;

    gap:35px;

    font-weight:bold;

    color:#ffffff;

    padding-bottom:10px;

    margin-bottom:10px;

    border-bottom:1px solid #444;
}

.property-row{

    display:grid;

    grid-template-columns:
        260px
        370px;

    gap:35px;

    padding:6px 0;
}


.property-label{

    color:#d4d4d4;

    font-weight:bold;
}

.property-value{
    color:white;
    font-weight:bold;
    
}


/*CSS για τα Metrics πανω πανω στα Dashboards*/
.metrics-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:15px;
    margin-bottom:20px;
}

.metric-card{
    background:#252526;
    border:1px solid #444;
    border-radius:8px;
    padding:15px;
}

.metric-title{
    color:#9e9e9e;
    font-size:13px;
    margin-bottom:8px;
}

.metric-value{
    color:white;
    font-size:22px;
    font-weight:bold;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/*Button Style - Add Cluster*/
.form-button{
    background:#0078d4;
    color:white;
    border:none;
    border-radius:6px;
    padding:8px 16px;
    font-weight:bold;
    cursor:pointer;
    margin-right:10px;
}

.form-button:hover{
    background:#1890ff;
}

.form-button-save{
    background:#107c10;
}

.form-button-save:hover{
    background:#16a516;
}

/*Style για τα Input Fields του Add Cluster*/
.property-row input,
.property-row select{
    width:100%;
    padding:8px;

    background:#1e1e1e;
    color:white;

    border:1px solid #444;
    border-radius:4px;

    box-sizing:border-box;
}

/* Checkbox */
.property-row-checkbox{
    display:flex;
    align-items:center;
    gap:20px;
    padding:6px 0;
   
}

.property-row-checkbox .property-label{
    width:280px;
}

#cluster-enabled{
    transform: scale(1.5); /*Ορίζω το ποσο μεγαλο θα ειναι το checkbox*/
    cursor: pointer;
}

/*Style message validation result*/
#cluster-validation-result{
    margin-top:15px;
    font-weight:bold;
}

/*βαζει σαν background κάποιο text σε κάθε input Πεδίο*/
.property-row input::placeholder{
    color:#707070;
    opacity:0.65
   
}

/*-------------------------------------------------------------------------------------------------------------------------------------------*/
/*Button Style for Add Cluster*/
.sidebar-actions{
    padding-left:35px;
    margin-top:8px;
}

.sidebar-action-button{
    margin-top:18px;
    margin-left:20px;

    background:none;
    border:none;

    color:#c586ff;

    font-size:14px;
    font-weight:bold;

    cursor:pointer;

    text-align:left;
}

.sidebar-action-button:hover{
    color:#d9a8ff;
}

.cluster-add-button{

    background:#2d2d2d;
    color:#4fc3f7;

    border:1px solid #444;
    border-radius:6px;

    padding:6px 12px;

    font-size:14px;
    font-weight:bold;

    cursor:pointer;

    margin-top:16px;
    
    
    transition:all 0.2s ease;
    display:flex;
    align-items:center;
    gap:5px;
}

.cluster-add-button:hover{

    background:#3a3a3a;
    border-color:#4fc3f7;
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*Style for clutser detected info*/
.cluster-detected-info{
    margin-top:20px;

    opacity:0;
    transform:translateY(10px);

    transition:
        opacity 0.4s ease,
        transform 0.4s ease;
}

.cluster-detected-info.show{
    opacity:1;
    transform:translateY(0);
}


.detected-info-header{
    color:#00ff88;
    font-weight:bold;
    margin-bottom:15px;
}

.detected-info-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:15px;
}

.detected-info-card{
    background:#252526;
    border:1px solid #444;
    border-radius:6px;
    padding:12px;
}

.detected-info-title{
    color:#9e9e9e;
    font-size:12px;
    margin-bottom:6px;
}

.detected-info-value{
    color:white;
    font-weight:bold;
}

/*Style for Failed Validation message*/
.cluster-validation-error{
    margin-top:20px;

    opacity:0;
    transform:translateY(10px);

    transition:
        opacity 0.4s ease,
        transform 0.4s ease;
}

.cluster-validation-error.show{
    opacity:1;
    transform:translateY(0);
}

.validation-error-header{
    color:#ff6b6b;
    font-weight:bold;
    margin-bottom:12px;
}

.validation-error-message{
    background:#252526;
    border:1px solid #ff6b6b;
    border-radius:6px;
    padding:12px;
    color:white;
}

.validation-error-message ul{
    margin-top:8px;
    padding-left:18px;
}


.container{
    animation: dashboardFadeIn 0.5s ease-out;
}

/*Fade animation for every panel*/
@keyframes dashboardFadeIn{

    from{
        opacity:0;
        transform:translateY(10px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }

}

.property-box{
    animation: panelFadeIn 0.30s ease-out;
}

@keyframes panelFadeIn{

    from{
        opacity:0;
        transform:translateY(8px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }

}

.panel-fade{
    animation: panelFadeIn 0.30s ease-out;
}

/*Style for every error message about "Add Cluster" Button*/
.cluster-save-message{
    margin-top:20px;

    opacity:0;
    transform:translateY(10px);

    transition:
        opacity 0.4s ease,
        transform 0.4s ease;
}

.cluster-save-message.show{
    opacity:1;
    transform:translateY(0);
}

.cluster-save-success{
    background:#252526;
    border:1px solid #00ff88;
    border-radius:8px;
    padding:12px;
}

.cluster-save-error{
    background:#252526;
    border:1px solid #ff7070;
    border-radius:8px;
    padding:12px;
}

.cluster-save-header{
    font-weight:bold;
    margin-bottom:10px;
}

.cluster-save-success .cluster-save-header{
    color:#00ff88;
}

.cluster-save-error .cluster-save-header{
    color:#ff7070;
}

.cluster-save-text{
    color:white;
}
/*-------------------------------------------------------------------------------------------------------------------------------------*/
/*Delete Cluster Icon - Style & Same Toolip style as refresh-button toolip*/
.cluster-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:15px;
}
.cluster-delete-icon{
    background:none;
    border:none;
    color:#ff7070;
    cursor:pointer;
    padding:6px;
    border-radius:6px;
    position:relative;
    transition:all 0.2s ease;
}

.cluster-delete-icon:hover{
    background:#2d2d2d;
    color:#ff4d4d;
}

/*Style - Delete Confirmation Message*/
.cluster-delete-confirmation{

    margin-top:20px;
    background:#252526;
    border:1px solid #ff7070;
    border-radius:8px;
    padding:15px;
    display:none;
    opacity:0;
    transform:translateY(10px);
    transition:
        opacity 0.3s ease,
        transform 0.3s ease;
}

.cluster-delete-confirmation.show{
    opacity:1;
    transform:translateY(0);
}

.delete-confirmation-header{
    color:#ff7070;
    font-weight:bold;
    margin-bottom:12px;
}

.delete-confirmation-text{
    color:white;
    line-height:1.6;
}

.delete-confirmation-actions{
    margin-top:15px;
    display:flex;
    gap:10px;
}
/*Style for Delete Cluster Button in the confirmation panel*/
.form-button-delete{
    background:#a4262c;
    color:white;
    border:none;
    border-radius:6px;
    padding:8px 14px;
    font-size:13px;
    font-weight:bold;
    cursor:pointer;
    transition:all 0.2s ease;
}

.form-button-delete:hover{
    background:#c42b1c;
}

.form-button-delete:active{
    transform:scale(0.98);
}
/*------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------*/
/*Style for Clusters Search Bar*/
#cluster-search{
    width:calc(100% - 55px);
    margin-left:25px;
    padding:8px;
    background:#1e1e1e;
    color:white;
    border:1px solid #444;
    border-radius:6px;
    margin-top:8px;
    margin-bottom:10px;
    box-sizing:border-box;
}

#cluster-search::placeholder{
    color:#808080;
}

#no-clusters-found{
    display:none;
    margin-top:10px;
    margin-bottom:10px;
    color:#a0a0a0;
    font-size:15px;
    font-style:italic;
}

/*Style for Global Search Bar*/
#global-search{
    width:95%;
    padding:8px;

    background:#1e1e1e;
    color:white;

    border:1px solid #444;
    border-radius:6px;

    margin-top:5px;
    margin-bottom:10px;
    margin-left: 5px;

    box-sizing:border-box;
}

#global-search-results{
    margin-top:10px;
}

.global-search-result{
    padding:6px 8px;
    cursor:pointer;
    border-radius:4px;
}

.global-search-result:hover{
    background:#333;
}

.global-search-path{
    color:#c5c5c5;
    font-size:12px;
}

/*Cluster Edit Icon Style*/
.cluster-edit-icon{
    background:none;
    border:none;
    color:#4fc3f7;
    cursor:pointer;
    padding:6px;
    border-radius:6px;
    position:relative;
    transition:all 0.2s ease;
}

.cluster-edit-icon:hover{
    background:#2d2d2d;
    color:#63d1ff;
}

.cluster-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.cluster-header-icons{
    display:flex;
    align-items:center;
    gap:6px;
}

.cluster-edit-icon{
    position:relative;
}

